<app-hero></app-hero>

<div class="service">
    <div class="service-container">
        <div class="service-head inline-photo show-on-scroll">
            <h2>Our Services</h2>
        </div>
        <div class="service-desc inline-photo show-on-scroll">
            <p>A complete web development services in pune</p>
        </div>
        <div class="service-box-wrapper">
            <div class="service-box inline-photo show-on-scroll pointer">
                <div class="service-box-container">
                    <div class="service-box-icon">
                        <img src="../../../assets/icons/website-design-icon.png" width="25%" alt="">
                    </div>
                    <div class="service-box-head">
                        <h3>Web Design</h3>
                    </div>
                    <div class="service-box-desc">
                        <p>Our website designing services include a package of multiple services not only to please and satisfy the customers but also to enhance user experiences.</p>
                    </div>
                </div>
            </div>
            <div class="service-box inline-photo show-on-scroll pointer">
                <div class="service-box-container">
                    <div class="service-box-icon">
                        <img src="../../../assets/icons/wordpress-icon.png" width="25%" alt="">
                    </div>
                    <div class="service-box-head">
                        <h3>Wordpress Website</h3>
                    </div>
                    <div class="service-box-desc">
                        <p>WordPress is a free and open-source content management system based on PHP & MySQL. Features include a plugin architecture and a template system.</p>
                    </div>
                </div>
            </div>
            <div class="service-box inline-photo show-on-scroll pointer">
                <div class="service-box-container">
                    <div class="service-box-icon">
                        <img src="../../../assets/icons/E-Commerce-icon.png" width="25%" alt="">
                    </div>
                    <div class="service-box-head">
                        <h3>E-Commerce</h3>
                    </div>
                    <div class="service-box-desc">
                        <p>E-commerce is the buying and selling of goods and services, or the transmitting of funds or data, over an electronic network, primarily the internet.</p>
                    </div>
                </div>
            </div>
            <div class="service-box inline-photo show-on-scroll pointer">
                <div class="service-box-container">
                    <div class="service-box-icon">
                        <img src="../../../assets/icons/Web-development-icon.png" width="25%" alt="">
                    </div>
                    <div class="service-box-head">
                        <h3>Web Development</h3>
                    </div>
                    <div class="service-box-desc">
                        <p>Web development refers to building, creating, and an maintaining websites. It includes aspects such as web design, web programming,& database management.</p>
                    </div>
                </div>
            </div>
            <div class="service-box inline-photo show-on-scroll pointer">
                <div class="service-box-container">
                    <div class="service-box-icon">
                        <img src="../../../assets/icons/digital-marketing-icon.png" width="25%" alt="">
                    </div>
                    <div class="service-box-head">
                        <h3>Digital Marketing</h3>
                    </div>
                    <div class="service-box-desc">
                        <p>We promote your business and create leads for it through digital marketing services, which include Google adwords consulting and management, Social media management.</p>
                    </div>
                </div>
            </div>
            <div class="service-box inline-photo show-on-scroll pointer">
                <div class="service-box-container">
                    <div class="service-box-icon">
                        <img src="../../../assets/icons/social-media-marketing-icon.png" width="25%" alt="">
                    </div>
                    <div class="service-box-head">
                        <h3>Social Media Marketing</h3>
                    </div>
                    <div class="service-box-desc">
                        <p>Social media marketing is the use of social media platforms and websites to promote a product or service.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-km inline-photo show-on-scroll">
            <a href="service.html">
                <div class="service-km-container">
                    <h3>Know More</h3>
                </div>
            </a>
        </div>
    </div>
</div>

<app-achievement-cta></app-achievement-cta>

<div class="git inline-photo show-on-scroll">
    <div class="git-container">
        <div class="git-head">
            <h3>Get in touch</h3>
        </div>
        <div class="git-desc">
            <p>Looking for help? Fill the form and start a new adventure.</p>
        </div>
        <div class="git-box-wrapper">
            <div class="git-box">
                <div class="git-box-container">
                    <div class="git-box-icon">
                        <span class="material-icons" style="color: #2c234d;">map</span>
                    </div>
                    <div class="git-box-text">
                        <div class="git-box-head">
                            <h4>Address</h4>
                        </div>
                        <div class="git-box-desc">
                            <p>102, Vedant Residency, Sus Gaon, Sus, Pune - 411021</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="git-box">
                <div class="git-box-container">
                    <div class="git-box-icon">
                        <span class="material-icons" style="color: #2c234d;">phone</span>
                    </div>
                    <div class="git-box-text">
                        <div class="git-box-head">
                            <h4>Phone</h4>
                        </div>
                        <div class="git-box-desc">
                            <p>+91 99744 42525</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="git-box">
                <div class="git-box-container">
                    <div class="git-box-icon">
                        <span class="material-icons" style="color: #2c234d;">email</span>
                    </div>
                    <div class="git-box-text">
                        <div class="git-box-head">
                            <h4>E-Mail</h4>
                        </div>
                        <div class="git-box-desc">
                            <p>Kaushalshah750@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.4282408232534!2d73.74789041517067!3d18.55472237297082!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bea86f7ed011%3A0xfaa7719ed9f9b0e!2sVedant%20Residency!5e0!3m2!1sen!2sin!4v1632578819139!5m2!1sen!2sin"  class="home-map-nav" style="width:100%; height:450px; border:0;" allowfullscreen="" loading="lazy"></iframe>

    </div>
</div>
