.service-head h2::before,
.service-head h2::after {
    display: inline-block;
    content: "";
    border-top: 2.012px solid black;
    width: 30px;
    margin: 0 7.5px;
    transform: translateY(-7.5px);
}

.service{
    width: 100%;
    background-color: #EEF1F6;
    padding-top: 90px;
}

.service-container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.service-head{
    color: #0e1133;
    font-family: 'Roboto';
    font-size: 25px;
    line-height: 24px;
    font-weight: 900;
    text-align: center;
}

.service-desc{
    padding-top: 20px;
    color: #505056;
    font-family: 'roboto';
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
}

.service-box-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.service-box{
    background-color: #ffffff;
    padding: 40px;
    border-radius: 5px;
    transition: 1s;
    box-shadow: 0px 0px 10px 3px #00000057;
}

.service-box:hover{
    background-color: #2B70FA;
}

.service-box:hover .service-box-head{
    color: #ffffff;
}

.service-box:hover .service-box-desc{
    color: #ffffff;
}

.service-box-icon{
    padding-top: 20px;
    text-align: center;
}

.service-box-head{
    padding-top: 20px;
    color: #14212b;
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
}

.service-box-desc{
    padding-top: 15px;
    color: #505056;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 29px;
    font-weight: 400;
    text-align: center;
}

.service-km{
    margin-top: 45px;
    justify-self: center;
    position: relative;
    margin-bottom: 180px;
}

.service-km-container{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #2B70FA;
    border: 2px solid #2B70FA;
    box-shadow: 0px 0px 10px 1px #14212b71;
    transition: 0.4s;
}

.service-km-container h3{
    font-family: 'Roboto';
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 600;
}

.service-km-container:hover{
    background-color: #ffffff;
    border: 2px solid #2B70FA;
    box-shadow: 0px 0px 0px 0px #14212b71;
}

.service-km-container:hover h3{
    color: #2B70FA;
}

/* Start of Get in Touch */

.git{
    width: 100%;
    padding-top: 80px;
    padding-bottom: 60px;
    background-color: #F7F6FA;
    padding-left: 20px;
    padding-right: 20px;
}

.git-container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.git-box-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 5px;
}

.git-box-container{
    display: grid;
    grid-template-columns: 15% 85%;
}

.git-box-icon{
    align-self: center;
}

.git-box{
    padding: 30px;
}

.git-head{
    animation-name: blink;
    animation-duration: 2s;  
}

@keyframes blink {
    from {opacity: 0;}
    to {opacity: 100;}
}

.git-head h3{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 30px;
    line-height: 24px;
    text-align: center;
    color: #2c234d;
}

.git-head h3::before,
.git-head h3::after {
    display: inline-block;
    content: "";
    border-top: 2.012px solid black;
    width: 30px;
    margin: 0 7.5px;
    transform: translateY(-7.5px);
}



.git-desc{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #686875;
    margin-top: 15px;
}

.git-box-head{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #2c234d;
}

.git-box-desc{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #686875;
}
