<header>
    <div class="header-container hero-effect show-on-scroll">
        <div class="header-left">
            <img src="../../../assets/logo/orien transparent.png" alt="" width="70px" height="60px">
        </div>
        <div class="header-center">
            <ul>
                <li><a routerLinkActive="active" routerLink="/">Home</a></li>
                <li><a routerLinkActive="active" routerLink="/about">About</a></li>
                <li><a routerLinkActive="active" routerLink="/service">Service</a></li>
                <li><a routerLinkActive="active" routerLink="/portfolio">Portfolio</a></li>
                <li><a routerLinkActive="active" routerLink="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="header-right pc-bg">
            <a href="tel:/+919974442525">
                <div class="cta-menu-container">
                    <h3>Call Us</h3>
                </div>
            </a>
        </div>
    </div>
</header>