<div class="portfolio">
    <div class="portfolio-container">
        <div class="portfolio-head inline-photo show-on-scroll">
            <h3>Portfolio</h3>
        </div>
        <div class="portfolio-box-wrapper">
            <div class="portfolio-box inline-photo show-on-scroll">
                <div class="portfolio-box-container">
                    <div class="portfolio-box-img">
                        <a href="https://www.caraccessory.in/" target="_blank">
                            <img src="../../../assets/portfolio/car-accessory-portfolio.png" alt="">
                        </a>
                    </div>
                    <div class="portfolio-box-head">
                        <h4>Car Accessory</h4>
                    </div>
                    <div class="portfolio-box-desc">
                        <p><a href="https://www.caraccessory.in/" target="_blank">Read More</a></p>
                    </div>
                </div>
            </div>

            <div class="portfolio-box inline-photo show-on-scroll">
                <div class="portfolio-box-container">
                    <div class="portfolio-box-img">
                        <a href="https://ecosmartmacindia.com/" target="_blank">
                            <img src="../../../assets/portfolio/eco-smart-portfolio.png" alt="">
                        </a>
                    </div>
                    <div class="portfolio-box-head">
                        <h4>Eco Smart</h4>
                    </div>
                    <div class="portfolio-box-desc">
                        <p><a href="https://ecosmartmacindia.com/" target="_blank">Read More</a></p>
                    </div>
                </div>
            </div>

            <div class="portfolio-box inline-photo show-on-scroll">
                <div class="portfolio-box-container">
                    <div class="portfolio-box-img">
                        <a href="https://gvmglobal.org/" target="_blank">
                            <img src="../../../assets/portfolio/GVM-Global-portfolio.jpg" alt="">
                        </a>
                    </div>
                    <div class="portfolio-box-head">
                        <h4>GVM GLOBAL</h4>
                    </div>
                    <div class="portfolio-box-desc">
                        <p><a href="https://gvmglobal.org/" target="_blank">Read More</a></p>
                    </div>
                </div>
            </div>

            <div class="portfolio-box inline-photo show-on-scroll">
                <div class="portfolio-box-container">
                    <div class="portfolio-box-img">
                        <a href="https://p2jobwork.com/" target="_blank">
                            <img src="../../../assets/portfolio/p2jobwork-portfolio.png" alt="">
                        </a>
                    </div>
                    <div class="portfolio-box-head">
                        <h4>P2 Job Work</h4>
                    </div>
                    <div class="portfolio-box-desc">
                        <p><a href="https://p2jobwork.com/" target="_blank">Read More</a></p>
                    </div>
                </div>
            </div>

            <div class="portfolio-box inline-photo show-on-scroll">
                <div class="portfolio-box-container">
                    <div class="portfolio-box-img">
                        <a href="https://shineimmigration.in/" target="_blank">
                            <img src="../../../assets/portfolio/shine-portofolio.png" alt="">
                        </a>
                    </div>
                    <div class="portfolio-box-head">
                        <h4>Shine Immigration</h4>
                    </div>
                    <div class="portfolio-box-desc">
                        <p><a href="https://shineimmigration.in/" target="_blank">Read More</a></p>
                    </div>
                </div>
            </div>

            <div class="portfolio-box inline-photo show-on-scroll">
                <div class="portfolio-box-container">
                    <div class="portfolio-box-img">
                        <a href="https://thetemple.in/" target="_blank">
                            <img src="../../../assets/portfolio/thetemple-portfolio.png" alt="">
                        </a>
                    </div>
                    <div class="portfolio-box-head">
                        <h4>The Temple</h4>
                    </div>
                    <div class="portfolio-box-desc">
                        <p><a href="https://thetemple.in/" target="_blank">Read More</a></p>
                    </div>
                </div>
            </div>

            <div class="portfolio-box inline-photo show-on-scroll">
                <div class="portfolio-box-container">
                    <div class="portfolio-box-img">
                        <a href="https://www.wh-dc.com/" target="_blank">
                            <img src="../../../assets/portfolio/WHDC-portfolio.png" alt="">
                        </a>
                    </div>
                    <div class="portfolio-box-head">
                        <h4>WHDC</h4>
                    </div>
                    <div class="portfolio-box-desc">
                        <p><a href="https://www.wh-dc.com/" target="_blank">Read More</a></p>
                    </div>
                </div>
            </div>

            <div class="portfolio-box inline-photo show-on-scroll">
                <div class="portfolio-box-container">
                    <div class="portfolio-box-img">
                        <a href="portfolio/Bollywood Belles/index.html" target="_blank">
                            <img src="../../../assets/portfolio/hero-img.png" alt="">
                        </a>
                    </div>
                    <div class="portfolio-box-head">
                        <h4>Bollywood Belles</h4>
                    </div>
                    <div class="portfolio-box-desc">
                        <p><a href="../portfolio/Bollywood Belles/index.html" target="_blank">Read More</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>