<div class="hero">
    <div class="hero-container">
        <div class="hero-left hero-effect show-on-scroll">
            <h4>Welcome To Orien</h4>
            <h2>Get a Website for your Business</h2>
            <p>We design World Class Website for your Business. Give a Boost to your Business with us.</p>
            <div class="hero-button">
                <a href="tel:/+919974442525">
                    <div class="hero-button-container">
                        <h3>Call Us</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="hero-right hero-effect show-on-scroll">
            <img src="../../../assets/hero/19362653.jpg" width="100%" alt="">
        </div>
    </div>
</div>
