<div class="achievement">
    <div class="achievement-container">
        <div class="achievement-box inline-photo show-on-scroll">
            <div class="achievement-box-icon"></div>
            <div class="achievement-box-head">
                <h3>5</h3>
            </div>
            <div class="achievement-box-desc">
                <p>Team Member</p>
            </div>
        </div>
        <div class="achievement-box inline-photo show-on-scroll">
            <div class="achievement-box-icon"></div>
            <div class="achievement-box-head">
                <h3>300+</h3>
            </div>
            <div class="achievement-box-desc">
                <p>Total Project</p>
            </div>
        </div>
        <div class="achievement-box inline-photo show-on-scroll">
            <div class="achievement-box-icon"></div>
            <div class="achievement-box-head">
                <h3>100+</h3>
            </div>
            <div class="achievement-box-desc">
                <p>Happy Clients</p>
            </div>
        </div>
        <div class="achievement-box inline-photo show-on-scroll">
            <div class="achievement-box-icon"></div>
            <div class="achievement-box-head">
                <h3>70+</h3>
            </div>
            <div class="achievement-box-desc">
                <p>Active Clients</p>
            </div>
        </div>
    </div>
</div>
