<div class="contact-git inline-photo show-on-scroll" style="z-index: -2">
    <div class="git-box-wrapper git-box-max-width">
        <div class="git-box">
            <div class="git-box-container">
                <div class="git-box-icon">
                    <span class="material-icons" style="color: #2c234d;">map</span>
                </div>
                <div class="git-box-text">
                    <div class="git-box-head">
                        <h4>Address</h4>
                    </div>
                    <div class="git-box-desc">
                        <p>102, Vedant Residency, Sus Gaon, Sus, Pune - 411021</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="git-box">
            <div class="git-box-container">
                <div class="git-box-icon">
                    <span class="material-icons" style="color: #2c234d;">phone</span>
                </div>
                <div class="git-box-text">
                    <div class="git-box-head">
                        <h4>Phone</h4>
                    </div>
                    <div class="git-box-desc">
                        <p>+91 99744 42525</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="git-box">
            <div class="git-box-container">
                <div class="git-box-icon">
                    <span class="material-icons" style="color: #2c234d;">email</span>
                </div>
                <div class="git-box-text">
                    <div class="git-box-head">
                        <h4>E-Mail</h4>
                    </div>
                    <div class="git-box-desc">
                        <p>Kaushalshah750@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact-page">
    <div class="contact-left inline-photo show-on-scroll">
        <img src="../../../assets/Other/Contact - Orien Web Solution.jpg" alt="" width="90%">
    </div>
    <div class="contact-right inline-photo show-on-scroll">
        <div class="container">
            <form action="#" style="color: #2c234d; font-family: Montserrat; font-size: 14px;">
                <input type="text" id="fname" name="firstname" placeholder="First Name" style="width: 47.2%;">
                    
                <input type="text" id="lname" name="lastname" placeholder="Last Name" style="width: 47.2%;">

                <input type="text" id="email" name="lastname" placeholder="Email Address" style="width: 96.8%;">
                    
                <input type="number" id="phone" name="lastname" placeholder="Phone Number" style="width: 96.8%;">

                <textarea id="subject" name="subject" placeholder="How can we help you?" style="width: 96.8%; height:200px"></textarea>
                    
                <input type="submit" value="Submit" style="width: 96.8%;">
            </form>
        </div>
    </div>
</div>
