<footer>
    <div class="footer-container inline-photo show-on-scroll">
        <div class="footer-left">
            <div class="footer-head">
                <img src="../../../assets/logo/orien transparent.png" alt="" width="130px" height="100px">                    
            </div>
            <div class="footer-desc mt20">
                <p>We design World Class Website for your Business. Give a Boost to your Business with us.</p>
            </div>
            <div class="footer-social-icon"></div>
        </div>
        <div class="footer-middle-left">
            <div class="footer-head">
                <h2>Quick Link</h2>
            </div>
            <div class="footer-desc mt20">
                <ul>
                    <li><a href="index.html" class="a-link">Home</a></li>
                    <li><a href="about.html" class="a-link">About</a></li>
                    <li><a href="service.html" class="a-link">Service</a></li>
                    <li><a href="portfolio.html" class="a-link">Porfolio</a></li>
                    <li><a href="contact.html" class="a-link">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-middle-right">
            <div class="footer-head">
                <h2>Services</h2>
            </div>
            <div class="footer-desc mt20">
                <ul>
                    <li><a href="contact.html" class="a-link">Web Design</a></li>
                    <li><a href="contact.html" class="a-link">Wordpress Website</a></li>
                    <li><a href="contact.html" class="a-link">E-Commerce</a></li>
                    <li><a href="contact.html" class="a-link">Web Development</a></li>
                    <li><a href="contact.html" class="a-link">Digital Marketing</a></li>
                    <li><a href="contact.html" class="a-link">Social Media Marketing</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-right">
            <div class="footer-head">
                <h2>Get In Touch</h2>
            </div>
            <div class="footer-contact mt20">
                <div class="footer-icon">
                    <a href="mailto:/kaushalshah750@gmail.com"><span class="material-icons email-icon">email</span></a>
                </div>
                <div class="footer-desc">
                    <h3><a href="mailto:/kaushalshah750@gmail.com" class="a-link" target="_blank">Kaushalshah750@gmail.com</a></h3>
                </div>
            </div>
            <div class="footer-contact mt20">
                <div class="footer-icon">
                    <a href="tel:/+919974442525"><span class="material-icons call-icon">call</span></a>
                </div>
                <div class="footer-desc">
                    <h3><a href="tel:/+919974442525" class="a-link">+91 99744 42525</a></h3>
                </div>
            </div>
            <div class="footer-contact mt20">
                <div class="footer-icon">
                    <span class="material-icons location-icon">location_on</span>
                </div>
                <div class="footer-desc">
                    <h3>102, Vedant Residency, Sus Gaon, Pune - 411021</h3>
                </div>
            </div>
            
        </div>
    </div>
</footer>