<div class="about">
    <div class="about-container">
        <div class="about-left">
            <div class="about-left-head inline-photo show-on-scroll">
                <h3>Our Story</h3>
            </div>
            <div class="about-left-desc inline-photo show-on-scroll">
                <p class="about-sub-head inline-photo show-on-scroll">We're providing the best web-solution, Digital Assets & Marketing management system for Business</p>
                <p class="inline-photo show-on-scroll">Orien Web Solution is best agency for your small & entire business. We`re providing a best services for Website Designing, Wordpress Website, E-commerce Solution, Web Development, Digital Marketing, Social Media Marketing, and more....</p>
                <br>                    
                <p class="inline-photo show-on-scroll">Orien Web Solution is an answer to all your website development requirements. We create effective online presence through business driven websites and result oriented search engine marketing. The company provides solutions to enterprises and services through a combination of traditional and newer IT solutions for bringing a synergetic effect.</p>
            </div>
        </div>
        <div class="about-right inline-photo show-on-scroll">
            <img src="../../../assets/Other/About-page-banner.png" alt="">
        </div>
    </div>
</div>

<div class="mission">
    <div class="mission-container">
        <div class="mission-head inline-photo show-on-scroll">
            <h3>Mission</h3>
        </div>
        <div class="mission-desc">
            <p class="inline-photo show-on-scroll">Our mission is to grow up any business digitally. Specially we are working on E-commerce Platform. In Indian market there are various Retailers, Manufacturers, Exporters, Traders who dream to sell products on various places but they are not satisfied with sales revenue and they also have to pay very high amount as commission or charges in websites. Orien Web Solution is here for these clients with our minimum cost plans which is affordable by everyone even by a small shopkeeper.</p>
            <br>
            <p class="inline-photo show-on-scroll">Our Website Developing Team will help you to grow your business digitally by Few Simple Steps.</p>
        </div>

        <div class="mission-number">
            <div class="mission-number-container">
                <div class="mission1 inline-photo show-on-scroll">
                    <div class="mission-left">
                        <h2>1</h2>
                    </div>
                    <div class="mission-right">
                        <div class="mission-right-head">
                            <h3>Connect With Us</h3>
                        </div>
                        <div class="mission-right-desc">
                            <p>Start working with us to grow up your business</p>
                        </div>
                    </div>
                </div>
                <div class="mission1 inline-photo show-on-scroll">
                    <div class="mission-left">
                        <h2>2</h2>
                    </div>
                    <div class="mission-right">
                        <div class="mission-right-head">
                            <h3>Explain Your Needs</h3>
                        </div>
                        <div class="mission-right-desc">
                            <p>We're working on your needs</p>
                        </div>
                    </div>
                </div>
                <div class="mission1 inline-photo show-on-scroll">
                    <div class="mission-left">
                        <h2>3</h2>
                    </div>
                    <div class="mission-right">
                        <div class="mission-right-head">
                            <h3>Launch Your Business</h3>
                        </div>
                        <div class="mission-right-desc">
                            <p>Promote your business Digitally as a Right way</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
